/*header { width: 100%; }*/
.nav-bar { display: none; }

header nav { float:right; z-index: 1000; width: auto; margin:15px 0; padding:0;}
header nav ul { list-style: none; }
header nav ul li {float: left; position: relative;}
header nav:after {content: ""; display: block; clear: both;}

header nav ul li a {color:#181818; display: block; padding:10px 10px ; margin: 0 ; line-height:30px; text-decoration: none; font-size:14px; text-transform:uppercase; font-weight:600; letter-spacing:1px;}
header nav ul li a:hover, header nav ul li a.active { color:#009297; text-decoration:none;  }

header nav ul li:hover .children { display: block; }
header nav ul li .children {display: none; background:#FFF; position: absolute;  width:220px;  z-index: 11111; border:1px solid #f7f7f7; border-radius: 5px; overflow: hidden;}
header nav ul li .children span { display: none; }
header nav ul li .children li {display: block; width: 100%; border-bottom: 1px solid #f7f7f7;}
header nav ul li .children li:last-child { border-bottom:none !important;}

header nav ul li .children li a { margin-left:0; line-height:25px; font-size:13px; padding:7px 15px; margin:0; text-transform:none; color:#181818; font-weight:500; text-transform: capitalize; letter-spacing:1px; }
header nav ul li .children li a:hover {background:#009297; color:#FFF; border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}

header nav ul li .fa-angle-down {
  position: relative;
  top: 2px;
}

header nav ul li .faicon { display:none;
  position: relative;
  top:1px; left:5px
}

@media only screen and ( min-width: 1299px) and (max-width: 2399px) {

header nav ul li a { padding:10px 15px;  line-height:30px; font-size:15px;}
    
}

/*responsive nav style*/

@media only screen and ( min-width: 768px) and ( max-width: 980px ) {

header nav {margin:15px 0 0 0;}

header nav ul li a {padding:5px 7px; line-height:20px; font-size:12px;}
header nav ul li .children {width:180px;}
header nav ul li .children span { display: none; }

header nav ul li .children li a { line-height:20px; font-size:12px; padding:6px 15px;}

header nav ul li .fa-angle-down {
  position: relative;
  top: 2px;
}

header nav ul li .faicon { display:none;
  position: relative;
  top:1px; left:5px
}	
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

.nav-bar {display: block; width: 100%; position: fixed; top: 0; background: #009297; border-bottom:1px solid #35BEBC; z-index: 1000; }
.nav-bar span {float: left; letter-spacing: 2px; font-size:16px; font-weight:600; line-height:25px; text-transform:uppercase; padding:10px 15px; color: #FFF; }

.nav-bar .fa-bars {display: block; padding:10px 15px; color: #FFF; overflow: hidden; font-size: 20px; line-height:25px; font-weight: bold; text-decoration: none; float: right;}
header nav {width:80%; height: auto; position: fixed; right: 100%; top :45px; overflow: hidden; overflow-y: auto; height: 100%; background:#FFF; margin:0;  }

header nav ul li {display: block; border-bottom: 1px solid #f7f7f7; width: 100%; }
header nav ul li:last-child { margin-bottom:60px !important;}
header nav ul li .children li:last-child { border-bottom:none !important;  margin-bottom:0px !important;}
header nav ul li a {color:#181818; display: block; padding:10px 15px; margin:0; line-height:20px; text-decoration: none; font-size:13px; }
header nav ul li a:hover, header nav ul li a.active { background:#009297; color:#FFF; text-decoration:none; border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px; }
/*header ul li a { display: block; font-size:14px; line-height:20px; margin:0; padding:0; border:1px solid #C93 }*/
header nav ul li .children {width: 100%; position: relative; overflow: hidden; display: none; border-left:none; border:none; border-radius: 0; }
header nav ul li:hover .children { display: none; }
header nav ul li ul li:first-child { border-top: 1px solid #f7f7f7; }

header nav ul li .children span {display: inline-block; margin-right: 10px;}

/*header nav ul li .children a {
  margin-left: 10px;
  padding: 5px 0;
}*/

header nav ul li .fa-angle-down {position: relative; top: 4px;}
header nav ul li .children li {display: block; width: 100%; border-bottom: 1px solid #f7f7f7;}
header nav ul li .children li a {margin-left:0; line-height:20px; font-size:13px; padding:7px 30px; background:#FFF; color:#181818; }
header nav ul li .children li a:hover {background:#009297; color:#FFF;}

header nav ul li .faicon { position: relative; display:block; top:2px; right:0; float:right;}

}
